# Python Basics

## Genreal notes:
-There are 4 types of cells:/

    .Code
    .Markdown: we can change the cell to markdown by pressing m on the keyboard.
    .RawNBC convert.
    .Heading: Jupyter no longer uses special heading cells. Instead, we can use # for heading 1, ## for heading 2 and so in
     the Markdown cell

## Table Of Content
<ul>
<li><a href="#Import modules & Pip">Import modules & Pip</a></li>
<li><a href="#Python data">Python data</a></li>
<li><a href="#Data type conversion">Data type conversion</a></li>
<li><a href="#Python List">Python List</a></li> 
<li><a href="#Python Tuples">Python Tuples</a></li>
<li><a href="#Python Functions">Python Functions</a></li><ul>
    <li><a href="#Print">Print</a></li>
    <li><a href="#Mathmatical functions">Mathmatical functions</a></li>
    <li><a href="#Input">Input</a></li>
    <li><a href="#Define function & return statement">Define function & return statement</a></li>
    <li><a href="#If Statement">If Statement</a></li>
    <li><a href="#While loop">While loop</a></li>
    <li><a href="#For loops">For loops</a></li>
    <li><a href="#Try/ Except">Try/ Except</a></li>
    <li><a href="#Open, read and close files">Open, read and close files</a></li>

<a id='Import modules & Pip'></a>
## Import modules & Pip

In [ ]:
# list of python modules : https://docs.python.org/3/py-modindex.html
import numpy as np

In [1]:
import pandas as pd

<a id='Python data'></a>
## Python data: Strings, Numbers & Boolean & Dictionary

### String

In [ ]:
'''Strings: strings mean any text that we want to print as it is and it 
should be between parentheses'''
fig_name = "Maryam" 
#to print out the string that we made we just type in it's name and it will be shown under the cell
fig_name

### Numbers

In [ ]:
#Number
child_age = 10
child_age

### Boolean

In [ ]:
#Booleans: mean the thing that we want to know is true or false
is_child = True
is_adult = False
is_child

### Dictionary

In [ ]:
days = {
    "sa" : "saturday",
    "su" : "sunday",
    "mo" : "monday",
    "tu" : "tuesday",
    "we" : "wednesday",
    "Th" : "thursday",
    "fr" : "friday"
    }
print(days)
print(days["sa"], days["mo"])
print(days.get("fri", "not a valid data"))

In [2]:
howareyou = {
    1 : "I am good",
    2 : "I am sad",
    3 : "I am ok"
    }
print(howareyou)
print(howareyou[2])
print(howareyou.get(3))

{1: 'I am good', 2: 'I am sad', 3: 'I am ok'}
I am sad
I am ok

In [ ]:
#To know the type of the cell we use (type)
print (type(fig_name))
print (type(child_age))
print (type(howareyou))

<a id='Data type conversion'></a>
## Data type conversion

### Convert number into a string

In [ ]:
# to change number into a string we use the string function
fig_name = "Maryam"
fig_age = 11
print (fig_name + " is " + str(fig_age) + " years old")

### Convert string into an integer and float

In [ ]:
#Python function to convert string into integer number
kid_brth_year = input ("what is your kid's year of birth? ")
kid_age = 2022 - int(kid_brth_year) 
print (kid_age)

In [ ]:
#Python function to convert string into float number
num1 = input ("insert first number")
num2 = input ("insert second number")
total = float(num1) + float(num2)
print (total)

<a id='Python List'></a>
## Python List

In [ ]:
#It could contain any type of data, we use [] to creat it, we then can assign any value to the list.
Jana_info = ["Jana" , 2009 , True]
Maryam_info = ["Maryam" , 2012 , False]
Noor_info = ["Noor" , 2009 , True]

In [ ]:
#list can also be 2 dimensional
number = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0]  
]
print(number[2][0])
print(number[2],number[0],[1])
for row in number:
    print(row)
for row in number:
    for col in row:
        print (col)

In [ ]:
print(Jana_info)

In [ ]:
#change a specific element in the list
Jana_info[0] = "Janjoona"
print(Jana_info)

In [ ]:
# Extend a list with another list
jana_list = [3,3,3]
maryam_list = [2,2,2]
noor_list = [1,1,1]
jana_list.extend(maryam_list)
print(jana_list)

In [ ]:
#if we repeted this function again and again it will keep adding maryam_list to jana_list
#so the extend function will change the origional list for ever not only for this cell
jana_list.extend(maryam_list)
print(jana_list)

In [ ]:
# Append a value to the end of the list
jana_list.append("Alyaa")
print(jana_list)
# append also change the original list so if we keep running this code it will keep adding alyaa to the end of the list

In [ ]:
# insert
jana_list.insert(0, "Ramiz")
print(jana_list)
# so all function work with list will change the original values of the list

In [ ]:
# Remove an element from the list
jana_list.remove("Ramiz")
#note that this will remove only one one string that is = "ramiz"
print (jana_list)

In [ ]:
#pop remove an element from the list
list = [1 , 2, 3 , 4 , 5]
#pop function is going to remove the last element from the list
list.pop(0)
print (list)

#clear function to clear the list
list.clear()
#when we use empty () this mean that we want to choose every value inside the list 

list

In [ ]:
# index to search for a specific value in the list
list = [1 , 2, 3 , 4 , 4, 3 , 3 , 5]
print (list.index(2))
# count to find out how many times the value repeated in the list
print (list.count(4))

In [ ]:
# sort
list_names = ["Ramiz" , "Alyaa" , "Jana" , "Maryam" , "Noor"]
list_names.sort()
list_names

In [ ]:
# reverse make the list in a reverse way no matter if it is ascending or descending 
list_names.reverse()
list_names

In [ ]:
# copy make a copy of the list exactly the same
list_names_2 = list_names.copy()
list_names_2

<a id='Python Tuples'></a>
## Python Tuples

In [ ]:
# Tuples is like list but once we create it we can not change it, we call it immutable, the only way it can be changed is to
#re run the cell and recreat that tuple.
#When we creat a list we use [] but when we creat a list we use ()
Tuple_1 = (1, 2, 5, 8, 6)
print(Tuple_1[3])

## Tuple inside list

In [ ]:
Coordinates = [(1,2) , (3,4), (5,6) , (7,8) , (9,10)]
Coordinates

In [ ]:
Coordinates[3] = (1,1)
Coordinates

<a id='Python Functions'></a>
## Python Functions

### A function is basically a collection of codes which perform a specific task

<a id='Print'></a>
### Print

In [ ]:
## print function with strings
fig_name = "Mariam"
print (fig_name)
print (fig_name.isupper())

#to specify a specific letter in the phrase that we want to see it's case we use []the number of the letter
print (fig_name[1].islower())
print (fig_name.upper())
print (fig_name.lower().islower())
print (len(fig_name))
print (fig_name.index("iam"))
print (fig_name.replace("i","y"))

In [ ]:
#Print function, concatenation
print ("The story of Maryam")
print ("fig_name" + " = " + fig_name)

In [ ]:
#to print in a new line
print ("Alyaa \n Khalid")

In [ ]:
#Back slash tell python that I want to print what ever after the back slash as it is.
print ("Alya\'a Khalid")

In [ ]:
## Print Function with numbers
fig_age = 10
print ((fig_age + 6) / 2)
#to get the remainder 
print ((fig_age + 6) % 3)

In [ ]:
Jana_list = [3,3,3]
Maryam_list = [2,2,2]
Noor_list = [1,1,1]
print (Jana_list + Maryam_list , Noor_list)
print (Jana_list[0], Maryam_list[1] , Noor_list[2])
#to count from the end we use - before the number and the last number is going to have numbe 1
print (Noor_list[-1])

#to print every thing after a specific location we just use:
print (Noor_list[:-1])
print (Noor_list[0:])
#see if we print from the end it will ignore the number that we specifiy not like if we count from the begining where it will 
#keep the first value with the selection

print (Noor_list[0:2])
#it ignored the last value that we specify

<a id='Mathmatical functions'></a>
### Mathmatical functions

#### Built in funcrions

In [ ]:
#Operator    Name               Description
#a + b       Addition          Sum of a and b
#a - b       Subtraction       Difference of a and b
#a * b       Multiplication    Product of a and b
#a / b       True division     Quotient of a and b
#a // b      Floor division    Quotient of a and b, removing fractional parts
#a % b       Modulus           Integer  remainder after division of a by b
#a ** b      Exponentiation     a raised to the power of b
#-a          Negation          The negative of a

In [ ]:
#bsolute 
print (abs(-3))

#raise to the power of a number
print (pow(3,2))

#the maximum number
print (max(1,5,20))

#the minimum
print (min(1,5,20))

#### Math Library

In [ ]:
#if we want some extra mathematecal functions we need to import math module
# to import math module 
from math import *
print (round(5.5))

#to chose the whole number only
print (floor(5.5))

#to make to the nearest upper absollute number
print (ceil(5.2))

#to get the square root
print (sqrt(9))

<a id='Input'></a>
### Input

In [ ]:
# input function: (when we run the cell with input python is going to take it as string)
kid_name = input("what is your kid's name? ") 
print ("hello " + kid_name)

In [ ]:
name = input("name ")
print(len(name))

<a id='Define function & return statement'></a>
## Define function & return statement

In [ ]:
#to define a function for calculating the total
def add(x,y):
    print (x+y)
add(5,7)

In [ ]:
#to define a function to calculate the cubic number 
def cube (num):
    return num*num*num
cube(3)

In [ ]:
#to define a function that ask for the number and make the cubic number of it
def cube (num):
    return num*num*num
num = input("what is the num? ")
num = float(num)
cube(num)

In [ ]:
# to define a function to greet some one
def greet (name):
    print ("Hello " + name)
greet ("Alyaa")

In [ ]:
def welcome_phrase(user_no):
    name = input("what's your name " + str(user_no))
    print("hello " + name)
    birth_year = input("what is your year of birth?")
    age = 2022-int(birth_year)
    print("so you are " + str(age) + " years old")
    print ("how can I help you?")

In [ ]:
welcome_phrase("user_1")

In [ ]:
#to define a function without a positional argument we just use empty()
def welcome_phrase_1():
    name = input("what's your name user? ")
    print("hello " + name)

In [ ]:
welcome_phrase_1()

In [ ]:
# define a function with multiple parameters
def add_3 (choice_1 , choice_2, choice_3):
    all = choice_1 + choice_2 + choice_3
    print (all)
add_3 (1,6,1)

<a id='If Statement'></a>
## If Statement

In [ ]:
a = input("insert your number")
a = float (a)
if a == 1 or a == 2:
    print ("number is less than 3")
elif a > 3 and not a > 10 :
    print ("number is bigger than 3 and less than 11")
else:
    print ("number is bigger than 10")

### Making a translator

In [ ]:
def translate(phrase):
    translation = ""
    for letter in phrase:
        if letter in "AEIOUaeiou":
            if letter.isupper():
                translation = translation +"G"
            else:
                translation = translation + "g"
        else:
            translation = translation + letter
    return translation
print(translate(input("please inter a phrase to translate ")))

<a id='While loop'></a>
## while loop

In [ ]:
a = 11
while a > 1:
    a -=1
    print (a)
print("done")

In [ ]:
name = "jana"
i = input("suggested_name ")
let_list = []
trial_no = 1
while i != name and  trial_no < 5:
    let_list.append(i[trial_no])
    print(trial_no)
    print (let_list)
    trial_no = trial_no + 1
    i = input("name")
print ("game over")

In [ ]:
#the below code should be for a game it's working as a code but the game is wrong
name = input ("give a name to guess ")
suggested_name = input("suggested_name ")
letter_list = []
trial_no = 1
while suggested_name != name and  trial_no < 5:
    letter_list.append(suggested_name)
    print("trial number " + str(trial_no))
    print (letter_list)
    trial_no += 1
    suggested_name = input("name ")

print ("game over")

<a id='For loops'></a>
## For loops

In [ ]:
#Loop-1
numbers = [1,2,3,4,5]
for a in  (numbers):
    if a != 4:
        print (float(a))

In [ ]:
#Loop-2
for i in range (3):
    num = input("insert your number")
    if float(num) != 4:
        print (float(num))

In [ ]:
#Loop-3
numbers = [1,2,3]
for a in  (numbers):
    num = input("insert your number ")
    num = float(num) + float(a)
    if float(num) != 4:
        print (float(num))

In [ ]:
#Loop-4
numbers = [1,2,3,4,5]
b = 0
for i in range (3):
    num = input("insert your number")
    if float(num) in numbers:
        b = b + float(num)
print (b)

In [ ]:
def raise_to_power (num, power):
    result = 1
    for i in range (power):
        result = result * num
    return result
raise_to_power (2,3)

In [ ]:
name = "jana"
print(name[3])

<a id='Try/ Except'></a>
## Try/ Except

In [ ]:
try:
    number = int(input("enter a number: "))
    value = 10/0
    print (number)
except ZeroDivisionError :
    print("Divided by Zero")
except :
    print("invalid input")

In [ ]:
try:
    number = int(input("enter a number: "))
    value = 10/0
    print (number)
except ZeroDivisionError as err :
    print(err)
except :
    print("invalid input")

<a id='Open, read and close files'></a>
## Open, read and close files

In [ ]:
#w : write, a : append, r: read
file_1 = open("file_1" , "w")
file_1.write("Alyaa - 40")
file_1.write("\nJana - 13")
file_1.write("\nMaryam - 10")
file_1.write("\nNoor - 6")
file_1.close()

# making a list of a given name or phrase

In [ ]:
#Step 1(make an array with the letters in the given name)
#option 1
letters_list = []
def str_to_list(name):
    print (len(name))
    print(name)
    for a in name:
        letters_list.append(a)
    print(letters_list)
    
str_to_list("alyaa 1982")

In [ ]:
#Step 1 option 2
name = input("insert name ")
for i in range (len(name)):
        letter = name[i]
        print (letter)

In [ ]:
num = input()
num.isdigit()

In [ ]:
a = input()
if a.isdigit():
    print ("is digit")
else: 
    print ("is not")

## Removing elements from the list

In [ ]:
letters_list = []
b = 'alyaa 1982'
for a in b:
    if a != ' ':
        letters_list.append(a)
print (letters_list)
type (letters_list)

# Finish till here

In [ ]:
#this code is not running true, to be discussed later and to see 
#how to remove numbers from a given text
letters_list = []
b = "alay 1982"
for a in b:
    if a != " " :
        letters_list.append(a)
for a in (letters_list):
    if a.isalpha() == True:
        print ('true')
        letters_list.remove(a)
    else:
        print ("false")
        
print(letters_list)

# sklearn Naive Bayes

I am wondering how accurate this Gaussian library while in this straightforward easy example couldn't predict it right!

In [ ]:
#this is a wrong prediction
import numpy as np
x = np.array([[1,2], [3,4],[5,6],[2,1], [4,3],[6,5]])
y = np.array([2,2,2,1,1,1])
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(x,y)
GaussianNB
print(clf.predict([[5,4]]))

In [ ]:
#this is a correct prediction 
import numpy as np
x = np.array([[1,2], [3,4], [5,6],[2,1], [4,3],[5,4]])
y = np.array([2,2,2,1,1,1])
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(x,y)
GaussianNB
print(clf.predict([[6,5]]))

In [ ]:
#this is a wrong prediction
x = np.array([[1,2],[3,4],[5,6],[7,8],[2,1], [4,3],[6,5]])
y = np.array([2,2,2,2,1,1,1])
clf = GaussianNB()
clf.fit(x,y)
print(clf.predict([[5,4]]))

In [ ]:
#this is a wrong prediction
import numpy as np
from sklearn.naive_bayes import GaussianNB

x = np.array([[1,2],[3,4],[5,6],[7,8],[9,10],[2,1],[4,3],[6,5],[8,7],[10,9]])
y = np.array([2,2,2,2,2,1,1,1,1,1])
clf = GaussianNB()
clf.fit(x,y)
print(clf.predict([[5,4]]))

# Numpy

In [ ]:
import numpy as np

In [ ]:
#Numpy Array
A = np.array([[1,2], [3,4], [5,6],[7,8],[9,10]])
A

In [ ]:
#Numpy Array
B = np.array ([1,2,1,2,1,2])
B

# a game for fun:
 2 players will play a game that they define a replacement for the origional letters then they will speek to each other with the
    new defined letters with scores if someone made a mistake then the other one will replace a new letter and the other player
    should know what is that changed letter, the game will start with 3 letters to be changed