# Python

This notebook is written based on the tutorial on youtube:

[(Learn Python - Full Course for Beginners [Tutorial]) ](https://youtu.be/rfscVS0vtbw)

## Table Of Content

* [Genreal Notes](#1)
* [Import modules & Pip](#2)
* [Python data](#3)
* [Data type conversion](#4)
* [Python Functions](#5)
    *  [print](#6)  
    *  [Mathmatical functions ](#7)
    *  [Input](#8) 
    *  [Define function & return statement](#9)
    *  [If Statement](#10) 
    *  [While loop](#11) 
    *  [For loop](#12) 
    *  [Try/ Except](#13) 
* [Open, read and close files](#14)
* [Numpy](#15)
* [Various codes ](#16)

<a id="1"></a> <br>
# Genreal Notes:
Types of cells:

*    Code: we can change the cell to markdown by pressing y on the keyboard.
*    Markdown: we can change the cell to markdown by pressing m.
*    Heading: we can use # for heading 1, ## for heading 2 and so on.

<a id="2"></a> <br>
# Import modules & Pip

* to install or uninstaal external modules we use the pip install
* pip install module
* example: pip install python-docx
* pip uninstall module
* example: pip uninstall python-docxm
* then we use import to import the module to the file.
* **[list of python modules in this link](https://docs.python.org/3/py-modindex.html)**

In [1]:
import numpy as np

In [2]:
import pandas as pd

<a id="3"></a> <br>
# Python data:

### String

In [3]:
#Strings: strings mean any text that we want to print as it is and 
#it should be between parentheses
fig_name = "Maryam" 
#to print out the string that we made we just type in it's name and it will be shown under the cell
fig_name

'Maryam'

### Numbers

In [4]:
#Numbers
child_age = 10
child_age

10

### Boolean

In [5]:
#Booleans: mean the thing that we want to know is true or false
is_child = True
is_adult = False
is_child

True

### Dictinary

In [6]:
days = {
    "sa" : "saturday",
    "su" : "sunday",
    "mo" : "monday",
    "tu" : "tuesday",
    "we" : "wednesday",
    "Th" : "thursday",
    "fr" : "friday"
    }
print(days)
print(days["sa"], days["mo"])
print(days.get("fri", "not a valid data"))

{'sa': 'saturday', 'su': 'sunday', 'mo': 'monday', 'tu': 'tuesday', 'we': 'wednesday', 'Th': 'thursday', 'fr': 'friday'}
saturday monday
not a valid data

In [7]:
howareyou = {
    1 : "I am good",
    2 : "I am sad",
    3 : "I am ok"
    }
print(howareyou)
print(howareyou[2])
print(howareyou.get(3))

{1: 'I am good', 2: 'I am sad', 3: 'I am ok'}
I am sad
I am ok

In [8]:
#To know the type of the cell we use (type)
print (type(fig_name))
print (type(child_age))
print (type(howareyou))

<class 'str'>
<class 'int'>
<class 'dict'>

### Python List

In [9]:
#It could contain any type of data, we use [] to creat it, we then can assign any value to the list.
Jana_info = ["Jana" , 2009 , True]
Maryam_info = ["Maryam" , 2012 , False]
Noor_info = ["Noor" , 2009 , True]
Noor_info

['Noor', 2009, True]

In [10]:
#print a specific element in the list
print(Jana_info[0])

Jana

In [11]:
#change a specific element in the list
Jana_info[0] = "Janjoona"
print(Jana_info)

['Janjoona', 2009, True]

In [12]:
#list can also be 2 dimensional
number = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0]  
]
print(number[2][0])
print(number[2],number[0],[1])
for row in number:
    print(row)
for row in number:
    for col in row:
        print (col)

7
[7, 8, 9] [1, 2, 3] [1]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[0]
1
2
3
4
5
6
7
8
9
0

In [13]:
# Extend a list with another
Jana_list = [3,3,3]
Maryam_list = [2,2,2]
Noor_list = [1,1,1]
Jana_list.extend(Maryam_list)
print(Jana_list)
#if we repeted this function again and again it will keep adding Maryam_list to Jana_list, so the extend function will change
#the origional list for ever not only for this cell

[3, 3, 3, 2, 2, 2]

In [14]:
# Append a value to the end of the list
Jana_list.append("Alyaa")
print(Jana_list)
# append also change the original list so if we keep running this code it will 
#keep adding alyaa to the end of the list

[3, 3, 3, 2, 2, 2, 'Alyaa']

In [15]:
# insert
Jana_list.insert(0, "Ramiz")
print(Jana_list)
# so all function work with list will change the original values of the list

['Ramiz', 3, 3, 3, 2, 2, 2, 'Alyaa']

In [16]:
# Remove an element from the list
#Jana_list.remove(0)
print (Jana_list)

['Ramiz', 3, 3, 3, 2, 2, 2, 'Alyaa']

In [17]:
#pop remove an element from the list
list = [1 , 2, 3 , 4 , 5]
#pop function is going to remove the last element from the list
list.pop(0)
print (list)

#clear function to clear the list
list.clear()
# where when we use empty () this mean that we want to choose every value inside the list 

list

[2, 3, 4, 5]

[]

In [18]:
# index to search for a specific value in the list
list = [1 , 2, 3 , 4 , 4, 3 , 3 , 5]
print (list.index(2))
# count to find out howmany times the value repeated in the list
print (list.count(4))

1
2

In [19]:
# sort
list_names = ["Ramiz" , "Alyaa" , "Jana" , "Maryam" , "Noor"]
list_names.sort()
list_names

['Alyaa', 'Jana', 'Maryam', 'Noor', 'Ramiz']

In [20]:
# reverse make the list in a reverse way no matter if it is ascending or descending 
list_names.reverse()
list_names

['Ramiz', 'Noor', 'Maryam', 'Jana', 'Alyaa']

In [21]:
# copy make a copy of the list exactly the same
list_names_2 = list_names.copy()
list_names_2

['Ramiz', 'Noor', 'Maryam', 'Jana', 'Alyaa']

### Python Tuples

In [22]:
# Tuples is like list but once we create it we can not change it, we call it immutable, the only way it can be changed is to
#re run the cell and recreat that tuple.
#When we creat a list we use [] but when we creat a tuples we use ()
Tuple_1 = (1, 2, 5, 8, 6)
print(Tuple_1[3])

8

### Tuple inside list

In [23]:
Coordinates = [(1,2) , (3,4), (5,6) , (7,8) , (9,10)]
Coordinates

[(1, 2), (3, 4), (5, 6), (7, 8), (9, 10)]

In [24]:
Coordinates[3] = (1,1)
Coordinates

[(1, 2), (3, 4), (5, 6), (1, 1), (9, 10)]

<a id="4"></a> <br>
# Data type conversion

### Convert number into a string

In [25]:
# to change number into a string we use the string function
fig_name = "Maryam"
fig_age = 11
print (fig_name + " is " + str(fig_age) + " years old")

Maryam is 11 years old

### Convert string into integer and float

In [26]:
#Python function to convert string to integer number
#to input data by using input function: kid_brth_year = input ("what is your kid's year of birth?")
kid_brth_year = 2016
kid_age = 2022 - int(kid_brth_year) 
print (kid_age)

6

In [27]:
#Python function to convert string to float number
num1 = 5.3
num2 = "2.5"
total = float(num1) + float(num2)
print (total)

7.8

<a id="5"></a> <br>
# Python Functions

<a id="6"></a> <br>
### Print

In [28]:
## print function with strings
fig_name = "Mariam"
print (fig_name)
print (fig_name.isupper())

#to specify a specific letter in the phrase that we want to see it's case we use []the number of the letter
print (fig_name[1].islower())
print (fig_name.upper())
print (fig_name.lower().islower())
print (len(fig_name))
print (fig_name.index("iam"))
print (fig_name.replace("i","y"))

Mariam
False
True
MARIAM
True
6
3
Maryam

In [29]:
#Print function, concatenation, 
print ("The story of Maryam")
print ("fig_name" + " = " + fig_name)

The story of Maryam
fig_name = Mariam

In [30]:
#to print in a new line
print ("Alyaa \n Khalid")

Alyaa
 Khalid

In [31]:
#Back slash tell python that I want to print what ever after the back slash as it is.
print ("Alya\'a Khalid")

Alya'a Khalid

In [32]:
## Print Function with numbers
fig_age = 10
print ((fig_age + 6) / 2)
#to get the remainder 
print ((fig_age + 6) % 3)

8.0
1

In [33]:
Jana_list = [3,3,3]
Maryam_list = [2,2,2]
Noor_list = [1,1,1]
print (Jana_list + Maryam_list , Noor_list)
print (Jana_list[0], Maryam_list[1] , Noor_list[2])
#to count from the end we use - before the number and the last number is going to have numbe 1
print (Noor_list[-1])
#to print every thing after a specific location we just use:
print (Noor_list[:-1])
print (Noor_list[0:])
#see if we print from the end it will ignore the number that we specifiy not like if we count from the begining where it will 
#keep the first value with the selection
print (Noor_list[0:2])
#it ignored the last value that we specify

[3, 3, 3, 2, 2, 2] [1, 1, 1]
3 2 1
1
[1, 1]
[1, 1, 1]
[1, 1]

<a id="7"></a> <br>
### Mathmatical functions

### Built in functions

In [34]:
#Operator    Name               Description
#a + b       Addition          Sum of a and b
#a - b       Subtraction       Difference of a and b
#a * b       Multiplication    Product of a and b
#a / b       True division     Quotient of a and b
#a // b      Floor division    Quotient of a and b, removing fractional parts
#a % b       Modulus           Integer  remainder after division of a by b
#a ** b      Exponentiation     a raised to the power of b
#-a          Negation          The negative of a

In [35]:
#bsolute 
print (abs(-3))
#raise to the power of a number
print (pow(3,2))
#the maximum number
print (max(1,5,20))
#the minimum
print (min(1,5,20))

3
9
20
1

### Math Library

In [36]:
#if we want some extra mathematecal functions we need to import math module
# to import math module 
from math import *
print (round(5.5))
#to chose the whole number only
print (floor(5.5))
#to make to the nearest upper absollute number
print (ceil(5.2))
#to get the square root
print (sqrt(3))

6
5
6
1.7320508075688772

<a id="8"></a> <br>
### Input

In [37]:
# input function: (when we run the cell with input python is going to take it as string)
#kid_name = input("what is your kid's name? ") 
#kid_name = input(a)
#kid_name = "Noora"
#print ("hello " + kid_name)

<a id="9"></a> <br>
### Defined function & return statement

In [38]:
#to define a function for calculating the total
def add(x,y):
    print (x+y)
add(5,7)

12

In [39]:
#to define a function to calculate the cubic number 
def cube (num):
    num = float(num)
    return num*num*num
cube(3)

27.0

In [40]:
# to define a function to greet some one
def greet (name):
    print ("Hello " + name)
greet ("Alyaa")

Hello Alyaa

In [41]:
def welcome_phrase_1():
    name = input("what's your name user?")
    print("hello " + name)
    birth_year = input("what is your year of birth?")
    age = 2022-int(birth_year)
    print("so you are " + str(age) + " years old")
    print ("how can I help you?")

In [42]:
def raise_to_power (num, power):
    result = 1
    for i in range (power):
        result = result * num
    return result
raise_to_power (2,3)

8

<a id="10"></a> <br>
### If Statement

In [43]:
a = 1
a = float (a)
if a == 1 or a == 2:
    print ("number is less than 3")
elif a > 3 and not a > 10 :
    print ("number is bigger than 3 and less than 11")
else:
    print ("number is bigger than 10")

number is less than 3

<a id="11"></a> <br>
### While loop

In [44]:
a = 11
while a > 1:
    a -=1
    print (a)
print("done")

10
9
8
7
6
5
4
3
2
1
done

<a id="12"></a> <br>
### For loops

In [45]:
#Loop-1
num = 0
b = -1
numbers = [1,2,3,4,5]
targets = [11,12,13,14,15]
for a in  (numbers):
    b = b+1
    num = num + a
    if float(num) == targets[b]:
        print (float(num))

15.0

In [46]:
#Loop-2
num1 = 0
numbers = [1,2,3,4,5]
targets = [11,12,13,14,15]
for a in range (5):
    num1 = num1 + numbers[a]
    print (num1)
    if float(num1) in targets:
        print (float(num1))

1
3
6
10
15
15.0

<a id="13"></a> <br>
### Try/ Except

In [47]:
try:
    number = 0
    value = 10 / number
    print (value)
except :
    print("invalid input")
try:
    number = 2
    value = 10 / number
    print (value)
except :
    print("invalid input")

invalid input
5.0

<a id="14"></a> <br>
# Open, read and close files

In [48]:
#w : write, a : append, r: read
file_1 = open("file_1" , "w")
file_1.write("Alyaa - 40")
file_1.write("\nJana - 13")
file_1.write("\nMaryam - 10")
file_1.write("\nNoor - 6")
file_1.close()

In [49]:
file_1 = open("file_1" , "a")
file_1.write("\nRamiz - 43")

11

In [50]:
file_1 = open("file_1","r")
print(file_1.read())

Alyaa - 40
Jana - 13
Maryam - 10
Noor - 6
Ramiz - 43

<a id="15"></a> <br>
# Numpy

In [51]:
import numpy as np

In [52]:
#Numpy Array
A = np.array([[1,2], [3,4], [5,6],[7,8],[9,10]])
A

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10]])

In [53]:
#Numpy Array
B = np.array ([1,2,1,2,1,2])
B

array([1, 2, 1, 2, 1, 2])

<a id="16"></a> <br>
## Various codes

In [54]:
import time

num_seconds = 3
for countdown in reversed(range(num_seconds + 1)):
    if countdown > 0:
        print(countdown, end='...')
        time.sleep(1)
    else:
        print('Go!')

3...2...1...Go!

In [55]:
#Making a translator
def translate(phrase):
    translation = ""
    for letter in phrase:
        if letter in "AEIOUaeiou":
            if letter.isupper():
                translation = translation +"G"
            else:
                translation = translation + "g"
        else:
            translation = translation + letter
    return translation
print(translate("I_need_You"))

G_nggd_Ygg

In [56]:
#making a list of a given name or phrase
name = "Maryam"
for i in range (len(name)):
        letter = name[i]
        print (letter)

M
a
r
y
a
m